@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
html {
  background-color: #0c151d;
  font-family: "Poppins", sans-serif;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu {
  opacity: 0;
}
