@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
html {
  background-color: #0c151d;
  font-family: "Poppins", sans-serif;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu {
  opacity: 0;
}
